body{
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.mainDiv{
  width: 95%;
  display: flex;
  justify-content: space-between;
  column-gap: 5px;


}
.card{
  border: 2px black solid;
  border-radius: 10px;
  width: 200px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
img{
  width: 180px;
  height: 230px;

}
.information{
  display: flex;
  margin-left: 10px;
  flex-direction: column;
}
.image{
  display: flex;
  justify-content: center;
}
